<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Jaldi" rel="stylesheet">
    </head>
    
    <header>
        <div class = "top_header">
            <ul>
                <li>
                    <img src="../assets/Spotify_Icon_RGB_Green.png" alt="Spotify Logo"><p>Anti-Playlist for Spotify</p>
                </li>
            </ul>
        </div>
    </header>
    <body>
        <form method="POST">
            <input type="text" id="playlist_url" name="playlist_url" placeholder="Spotify Playlist URL">
        </form>
    </body>
</html>